* { background: darkgoldenrod; }

.gray-text { /* American spelling makes me sad! :( */
    color: darkgray;
}

.salmon-text {
    color: salmon;
}

.indigo-text {
    color: indigo;
}

.big-text {
    font-size: 2.25rem;
}